<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1>Create a new question!</h1>

      <%= simple_form_for @question do |f| %>
        <%= f.input :question_text %>
        <%= f.button :button, 'Create Listing', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
</div>
