<div class="card">
  <div class="card-header">
    <%= @question[:question_text] %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
      <%= link_to 'Contributing', new_question_answer_path(@question), class: 'btn btn-primary' %>
    </blockquote>
  </div>
</div>
