<div class="card">
  <div class="card-header">
    <%= @question[:question_text] %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
     <% @answers.each do |answer| %>
     <p><%= answer[:answer_text] %> </p>
     <% end %>
     <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
     <%= link_to 'Contributing', new_question_answer_path(@question), class: 'btn btn-primary' %>
   </blockquote>
 </div>
</div>
