<ul class="listing-list-container list-unstyled" data-target="listings.display">
  <% listings.each do |listing| %>
    <li class="listing-list-item mb-3">
      <%= render 'listing-card', listing: listing %>
    </li><!-- /.listing-list-item-->
  <% end %>
</ul><!-- /.listing-list-container -->
