<div class="container">
  <div class="listings-banner">
    <div class="listings-banner-content">
      <h1>A Community Swap for Plants!</h1>
      <p class="mb-0">Swap plants and grow your collection!</p>
      <p>Not finding what youre looking for? Looking to trade your own plants?</p>
      <%= link_to 'Create your own listing', new_listing_path, class: 'btn btn-primary' %>
    </div>
    <%= image_tag "https://res.cloudinary.com/dbwwrdzej/image/upload/v1600955273/planter/bottom-image-01_auzubi.jpg", alt: "alttext" %>
  </div>
</div>

<div class="container container-right py-5 bg-pink">
  <div class="row justify-content-center" data-controller="listings">
    <div class="col-12 col-lg-11 px-4">
      <div class="listings-header-container mb-5 pb-3">
        <h1 class="mb-0" data-target="listings.header">All listings</h1>
        <!-- <div class="listings-filter"> -->
          <%#= render partial: 'type_filter', locals: { listing_types: @listing_types } %>
        <!-- </div> -->
        <div class="listings-filter">
          <%= render partial: 'tag_filter', locals: { tags: @tags } %>
        </div><!-- /.listing-filter .mb-4 -->
      </div>
      <section class="listing-list-view">
        <%= render partial: 'listing_list_view', locals: { listings: @listings } %>
      </section><!-- /.listing-list-view -->
    </div><!-- /.col-12 .col-lg-10 -->
  </div><!-- /.row .justify-content-center-->
</div>
