<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h1>All listings</h1>
    </div><!-- /.col-12 .col-lg-10 -->
  </div><!-- /.row .justify-content-center -->
  <div class="row justify-content-center" data-controller="listings">
    <div class="col-12 col-lg-10">
      <div class="listing-filter mb-4">
        <%= render partial: 'tag_filter', locals: { tags: @tags } %>
      </div><!-- /.listing-filter .mb-4 -->
      <section class="listing-list-view">
        <%= render partial: 'listing_list_view', locals: { listings: @listings } %>
      </section><!-- /.listing-list-view -->
    </div><!-- /.col-12 .col-lg-10 -->
  </div><!-- /.row .justify-content-center-->
</div><!-- /.container .py-5 -->
