<div class="container-fluid">
  <div class="row bg-pink" data-controller="conversations">
    <div class="col-12 col-md-4 px-0">
      <div class="inbox-container pt-2">
        <h4 class="text-center">Inbox</h4>
        <ul class="list-unstyled mb-0">
          <% @all_conversations.each do |conversation| %>
            <li>
              <a href="<%= conversation_path(conversation) %>"
                class="notification"
                data-action="click->conversations#select"
              >
                <!-- <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" /> -->
                <div class="notification-content">
                  <p><small><%= conversation.messages.last.created_at.strftime("%m/%d") %></small></p>
                  <p><%= conversation.listing.title %></p>
                </div>
                <% if conversation.listing.user == current_user %>
                  <span class="your-listing-tag">Your listing</span>
                <% end %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-8 px-0">
      <div class="conversation-header" data-target="conversations.header" data-conversation-id="test">
        <div class="conversation-header-content">
          <!-- <h4></h4> -->
          <!-- <p><small>14th January</small></p> -->
          <!-- <p><%#= conversation.listing.title %></p> -->
        </div>
      </div>
      <ul class="list-unstyled messages-container" data-target="conversations.display">
      </ul>
      <div class="send-message-container" data-target="conversations.input">
        <!--  -->
        <form
          data-action="ajax:success->conversations#result"
          data-action="ajax:error->conversations#error"
          data-target="conversations.form"
          data-remote="true"
          method="post"
          action=""
        >
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input
            data-target="conversations.message"
            type="text"
            name="message[content]"
            id="message_content"
            value=""
          />
          <button
            data-action="click->conversations#submit"
            name="button"
            class="btn btn-primary"
          >
            Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

