<footer>
  <div class="container">
    <div class="row justify-content-center pb-3 pt-3">
      <div class="col-12 text-center">
        <p>
          <strong class="text-primary">Planter</strong> Made with love ❤️
        </p>
      </div>
    </div>
  </div>
</footer>
