<footer>
  <div class="container">
    <div class="row justify-content-center pb-3 pt-3">
      <div class="col-12 text-center">
        <!-- <h5 class="text-white mb-0">Follow us!</h5> -->
        <ul class="list-inline">
          <li>
            <a href="github.com" target="_blank">
              <i class="fab fa-github-square"></i>
            </a>
          </li>
          <li>
            <a href="facebook.com" target="_blank">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="linkedin.com" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <p>
          <strong class="text-white">© Planter 2020</strong>
        </p>
      </div>
    </div>
  </div>
</footer>
