<div class="container">
    <h1>How to care for <%= @plant.common_name %></h1>
		<h2>contributed by: <%= @collection.user.email %></h2>
    <p><%= @plant.sun %></p>
    <p><%= @plant.water %></p>

</div>