.listing-card {
  position: relative;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid $light-pink;
  border-radius: 2px;
  display: flex;
  border-radius: 4px;
  max-height: 200px;
  overflow: hidden;
  top: 0;
  transition: top 0.1s linear;
  & img {
    width: 160px;
  }
  & p {
    color: $black;
  }
  &:hover {
    top: -5px;
    text-decoration: none;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.45) !important;
  }
}

.listing-card-body {
  padding: 1.25rem;
  padding-right: 8rem;
  width: 100%;
  padding-top: 2.5rem;
  border-left: 0.75rem solid $my-yellow;
}

.listing-card-title {
  position: relative;
  &:hover {
    a {
      text-decoration: none;
    }
  }
}

.listing-card-title > a {
  i.fas {
    margin-left: 0.25rem;
    transition: ease 0.3s;
    vertical-align: baseline;
    position: relative;
    top: 2px;
    color: $my-green;
  }
}

.listing-card-tags {
  position: absolute;
  top: 0.5rem;
  & > li {

  }
}

.listing-card-type {
  position: absolute;
  top: 0.5rem;
  padding: 0.25rem 1.5rem;
  right: 0.5rem;
  border-radius: 2px;
  color: white;
  &.swap {
    background-color: #FA7D89;
  }
  &.free {
    background-color: $my-mustard;
  }
  &.want {
    background-color: $blue;
  }
}

.listings-banner {
  display: flex;
  overflow: hidden;
  & img {
    width: 500px;
    margin-right: -7rem;
  }
}

.listings-banner-content {
  padding-top: 120px;
}


.listings-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.listings-header-container h1 {

}

.listings-filter form {
  width: 230px;
}
